name: Maven Tests on Windows
#some comment
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install Google Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Verify Chrome installation
        run: chrome --version

      - name: Run Maven Tests
        run: mvn clean test

      - name: Upload Extent HTML Reports (Root Level)
        uses: actions/upload-artifact@v4
        with:
          name: selenium-test-reports
          path: ./LOCAL_Extent*.html
